body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: gray;
}

h1,h2,p,span, label {
    font-family: OpenSans,sans-serif;
    color: #fff;
}

p,span, label {
    font-size: 1.2em;
}

ul {
    padding: 20px;
    background-color: white;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

input, select, button, li {
    font-family: OpenSans,sans-serif;
    font-size: 1.2em;
}

option {
    font-family: OpenSans,sans-serif;
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, button {
    width: 400px;
    height: 50px;
}

input#userEmail {
    width: 800px;
    text-align: center;
}

label, input, button, select {
    margin-bottom: 10px;
}

img{
    max-width: 400px
}

div#form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#generated-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}